@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #80c0eb;
}
.container {
  width: 350px;
  background: #282851;
  padding: 1rem;
  border-radius: 5px;
}
.container h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(161, 160, 160);
}

.inputField {
  width: 100%;
  padding: 5px 1rem;
  background: #3e3e5a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField input {
  background: transparent;
  padding: 10px;
  color: rgb(161, 160, 160);
  font-size: 1rem;
}
.inputField input::placeholder {
  color: rgb(161, 160, 160);
}

.inputField button {
  background: #3d79b1;
  color: #fff;
  font-size: 2rem;
  /* padding: 10px; */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: rotate(90deg);
}

/* to do list style */
.toDoList {
  margin-top: 2rem;
}
.toDoList span {
  color: rgb(161, 160, 160);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
